.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-around;
}

.main-image {
    width: 600px;
    /* I know it's wrong and image is distorted, I just wanted 
    to make the website into a single page without the need of 
    scrolling! */
    height: 300px;
}

.top-container {
    background-color: #1f2937;
}


div {
    border: 2px solid red;
}

.header-list {
    display: flex;
    gap: 8px;
    width: 600px;
    padding: 0;
    justify-content: flex-end;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    gap: 10px;
}

.button1 {
    align-self: flex-start;
}

.information {
    text-align: center;
}

.skill-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.skill-image {
    width: 150px;
    height: auto;

}

.skill-context {
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}

.third-container {
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.quote,
.quoted-by {
    width: 600px;
}

.quoted-by {
    text-align: right;
}